* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
}
.clock{
    border-radius: 50%;
    width: 450px;
    height: 450px;
    background-color: rgba(58,59,160,0.2);
    border:2px solid  rgba(56, 57,58, 0.15);
    box-shadow: 0px 0px 25px rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    position: absolute;
    /* 360/12 */
    transform: rotate(calc(30deg * var(--i)));  
   inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i))); 
    display: inline-block;
    font-size: 24px;
}
 .clock::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(154, 154, 154);
    z-index: 3;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
 .hand i{
    position: absolute;
    background-color: var(--color);
    width: 5px;
    height: var(--h);
    border-radius: 12px;
} 
@media screen and (max-width: 600px) {
    .clock {
        width: 80vw;
        height: 80vw;
    }
    .clock span b {
        font-size: 4vw;
    }
    .clock::before {
        width: 2vw;
        height: 2vw;
    }
    .hand i {
        width: 0.8vw;
    }
}
@media (max-width: 425px) {
    .clock {
        width: 70vw;
        height: 70vw;
    }
    .clock span b {
        font-size: 3vw;
    }
    .clock::before {
        width: 1.8vw;
        height: 1.8vw;
    }
    .hand i {
        width: 0.3vw;
    }
}